 .carousel-inner img {
     width: 100%;
     /* Set width to 100% */
     min-height: 200px;
 }
 /* Hide the carousel text when the screen is less than 600 pixels wide */
 
 @media (max-width: 600px) {
     .carousel-caption {
         display: none;
     }
 }
 
 .container-fluid {
     margin-bottom: -20px;
 }
 
 h2 {
     color: #800000;
 }
 
 .detail .row .col-sm-9 h2 {
     color: #800000;
     text-align: left;
     border-bottom: 1px solid #b7b7b7;
 }
 
 label {
     color: white;
 }
 
 .navbar-brand img {
     width: 50px;
     height: 40px;
     margin-top: -10px;
 }
 
 .form-inline {
     float: right;
     margin-top: 5px;
 }
 
 #custom-search-input {
     margin: 0;
     margin-top: 10px;
     padding: 0;
 }
 
 #custom-search-input .search-query {
     padding-right: 3px;
     padding-right: 4px \9;
     padding-left: 3px;
     padding-left: 4px \9;
     /* IE7-8 doesn't have border-radius, so don't indent the padding */
     margin-bottom: 0;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
 }
 
 #custom-search-input button {
     border: 0;
     background: none;
     /** belows styles are working good */
     padding: 2px 5px;
     margin-top: 2px;
     position: relative;
     left: -28px;
     /* IE7-8 doesn't have border-radius, so don't indent the padding */
     margin-bottom: 0;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     color: #D9230F;
 }
 
 .search-query:focus+button {
     z-index: 3;
 }
 
 .input-group {
     width: 30%;
     margin-left: 20%;
     margin-top: -4px;
 }
 
 .row {
     margin-bottom: 15px;
 }
 
 .glyphicon {
     margin-right: 10px;
     font-size: 15px;
 }
 
 .rating {
     text-align: left;
     color: #c40000;
 }
 
 .rating .glyphicon {
     font-size: 25px;
 }
 
 .price {
     color: #ffff1a;
 }
 
 .navbar-right {
     margin-right: 18px;
 }
 
 .products .row .col-sm-3 {
     max-width: 20%;
     padding: 10px;
     border: 1px solid #a8a8a8;
     margin-left: 5%;
     border-radius: 8px;
     cursor: pointer;
     background-color: #c0c0c0;
 }
 
 .recommend h2 {
     text-align: center;
 }
 
 .recommend .row .col-sm-3 {
     max-width: 20%;
     padding: 20px;
     padding-left: 28px;
     border: 1px solid #a8a8a8;
     margin-left: 5%;
     border-radius: 8px;
     cursor: pointer;
     background-color: #c0c0c0;
     text-align: center;
 }
 
 .price {
     font-size: 16px;
 }
 
 .product img {
     border: none;
     position: relative;
     width: 100%;
     width: 175px;
     height: 180px;
 }
 
 .list-group .wizard-menu {
     margin-right: 40px;
 }
 
 .product .title {
     font-family: display: block;
     font-size: 18px;
     color: #555555;
     text-overflow: ellipsis;
     overflow: hidden;
     position: relative;
     text-align: center;
     margin: 8px auto 0;
     height: 36px;
     line-height: 18px;
 }
 
 .product .author {
     font-family: display: block;
     font-size: 15px;
     color: #555555;
     text-overflow: ellipsis;
     overflow: hidden;
     position: relative;
     text-align: center;
     margin: 8px auto 0;
     height: 36px;
     line-height: 18px;
 }
 
 .product .btn-buy {
     -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;
     color: white;
     background-color: #1ea0ee;
     border: 1px solid #1ea0ee;
     border-radius: 6px;
 }
 
 .product .btn-buy:hover {
     border: 1px solid #3dd35f;
     background-color: #3dd35f;
     border-radius: 6px;
 }
 
 .detail .row .col-sm-3 {
     width: 175px;
     padding: 10px;
     padding-left: 4px;
     border: 1px solid #a8a8a8;
     margin-left: 5%;
     border-radius: 8px;
     cursor: pointer;
     background-color: #c0c0c0;
     text-align: center;
 }
 
 .btn-add {
     background-color: #ff8000;
     border-radius: 6px;
     text-align: justify;
     color: #400000;
 }
 
 .detail .row .col-sm-9 {
     text-align: right;
 }
 
 .detail img {
     margin-left: 3%;
 }
 
 .footer {
     background-color: white;
 }