<!DOCTYPE html>
<html lang="en">

<head>
    <title>The House of Books</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" href="css/icon.png" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
</head>

<body ng-app='myApp'>
    <!--Menu Bar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="#"><img class="logo" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQdJ19RSKvbFBrIE8qmebe8EX0fj1AdDSbQwmDMK8VmoKBkeZIi" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Trang chủ</a></li>
                    <li class="dropdown admin-drop">
                        <a href="#admin">Admin</a>
                        <div class="dropdown-content admin-drop-content">
                            <a href="#admin">Adding book</a>
                            <a href="#admin_edit">Editing book</a>
                        </div>
                    </li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="bookCtrl">
                    <li>
                        <form class="navbar-form navbar-right" role="search" ng-submit="submitSearch()">
                            <div class="input-group">
                                <input type="text" ng-model="text" class="form-control search-text" placeholder="Tìm kiếm">
                                <span class="input-group-addon">
                                <button id="search" type="submit" ng-click="submitSearch()">
                                
                                        <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown cart-drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-shopping-cart user-cart"></span>
                            <span class="badge">2</span>
                            <span class="caret"></span>
                        </a>
                        <div class="dropdown-content cart-drop-content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/51l9jVAk1uL._AC_US160_.jpg" class="img-responsive cart-item-img" alt="The Collapsing Empire"></a>
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="price-item">10.000 VND</h5>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-danger btn-sm btn-remove-item"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/51KtxvROG5L._AC_US160_.jpg" class="img-responsive cart-item-img" alt="City of Wolves"></a>
                                </div>
                                <div class="col-sm-4">
                                    <h5 class="price-item">10.000 VND</h5>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-danger btn-sm btn-remove-item"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                            <a href="#">
                                <h5 class="block-title text-center view-item">View your Cart</h5>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-log-in"></span> Đăng nhập
                        </a>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                                        <div class="container popup">
                                            <h3 class="block-title block-login">Đăng Nhập</h3>
                                            <div class="login-input">
                                                hoặc <a href="#">Đăng ký</a>
                                                <form role="form">
                                                    <div class="form-group">
                                                        <label for="inputUsernameEmail">Tên đăng nhập, hoặc email</label>
                                                        <input type="text" class="form-control" id="inputUsernameEmail">
                                                    </div>
                                                    <div class="form-group">
                                                        <a class="pull-right" href="#">Quên mật khẩu?</a>
                                                        <label for="inputPassword">Mật khẩu</label>
                                                        <input type="password" class="form-control" id="inputPassword">
                                                    </div>
                                                    <div class="checkbox pull-right">
                                                        <label>
                                                            <input type="checkbox"/>
                                                             Lưu tài khoản
                                                        </label>
                                                    </div>
                                                    <button type="submit" class="btn btn btn-primary btn-log">Đăng Nhập</button>
                                                    <br>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown user-drop">
                        <a href="#" class="dropdown-toggle open" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> Xin chào, Nhan Ho <span class="caret"></span>
                        </a>
                        <div class="dropdown-content user-drop-content">
                            <a href="#"><span class="glyphicon glyphicon-file"></span> Hồ sơ</a>
                            <a href="#"><span class="glyphicon glyphicon-heart"></span> Yêu thích</span></a>
                            <a href="#"><span class="glyphicon glyphicon-off"></span> Đăng xuất</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--End Menu Bar-->
    <!--Carousel-->
    <div class="container" ng-controller="bookCtrl" ng-init="getBanner()">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" ng-repeat="banner in banners" index="$index">
                <div class="item active">
                    <img src="{{banner.imageUrl}}" alt="Image">
                    <div class="carousel-caption">
                        <h3>{{banner.title}}</h3>
                        <p>Money Money.</p>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--End Carousel-->

    <div ng-view></div>

    <!--Footer-->
    <footer>
        <p>© Nhan Fisher Ho. All rights reserved</p>
    </footer>
    <!--End Footer-->
    <script src="app.js"></script>
    <script src="bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="controllers/books.js"></script>
</body>

</html>