<!--Admin Edit Page-->
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-centered">
            <h4 class="block-title"><span class="glyphicon glyphicon-pencil"></span> Chỉnh sửa thông tin sách</h2>
                <div class="admin">
                    <form ng-submit="updateBook()" ng-init="getBook()" name="editingForm" novalidate>
                        <div class="form-group">
                            <label>Tên sách</label>
                            <input type="text" class="form-control" ng-model="book.title" ng-required="true" name="title" placeholder="Tên sách">
                            <p ng-show="editingForm.title.$error.required" class="text-danger"> Chưa điền tên sách</p>
                        </div>
                        <div class="form-group" ng-init="getGenres()">
                            <label>Danh mục</label>
                            <select ng-model="book.genre" name="genres" ng-required="true" class="form-control" ng-options="genre as genre.name for genre in genres track by genre._id"></select>
                            <p ng-show="editingForm.genres.$invalid" class="text-danger"> Thể loại không có sẵn</p>
                            <p ng-show="editingForm.title.$error.required" class="text-danger"> Chưa chọn danh mục</p>
                        </div>
                        <div class="form-group">
                            <label>Tác giả</label>
                            <input type="text" class="form-control" ng-required="true" ng-model="book.author" name="author" placeholder="Tác giả">
                            <p ng-show="editingForm.author.$error.required" class="text-danger"> Chưa điền tên tác giả</p>
                        </div>
                        <div class="form-group">
                            <label>Nhà xuất bản</label>
                            <input type="text" class="form-control" ng-required="true" ng-model="book.publisher" name="publish" placeholder="Nhà xuất bản">
                            <p ng-show="editingForm.publish.$error.required" class="text-danger"> Chưa điền tên nhà xuất bản</p>
                        </div>
                        <div class="form-group">
                            <label>Ảnh bìa</label>
                            <input type="text" name="img" class="form-control" ng-model="book.images.main">
                        </div>
                        <div class="form-group">
                            <label>Số trang</label>
                            <input type="number" name="pages" class="form-control" ng-model="book.pages" placeholder="Số trang">
                            <p ng-show="editingForm.pages.$error.number" class="text-danger"> Vui lòng nhập số</p>
                        </div>
                        <div class="form-group">
                            <label>Khối lượng (g)</label>
                            <input type="number" class="form-control" name="weight" ng-model="book.weight">
                            <p ng-show="editingForm.weight.$error.number" class="text-danger"> Vui lòng nhập số</p>
                        </div>
                        <div class="form-group">
                            <label>Chiều ngang (mm)</label>
                            <input type="number" class="form-control" name="width" ng-model="book.size.width">
                            <p ng-show="editingForm.width.$error.number" class="text-danger"> Vui lòng nhập số</p>
                        </div>
                        <div class="form-group">
                            <label>Chiều dọc (mm)</label>
                            <input type="number" class="form-control" name="depth" ng-model="book.size.depth">
                            <p ng-show="editingForm.depth.$error.number" class="text-danger"> Vui lòng nhập số</p>
                        </div>
                        <div class="form-group">
                            <label>Ngày xuất bản</label>
                            <p class="input-group">
                                <input class="form-control " uib-datepicker-popup="dd/MM/yyyy" ng-model="book.releaseDate" is-open="popup2.opened" datepicker-options="" close-text="Close" />
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-md" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Ngày đăng sách</label>
                            <p class="input-group">
                                <input class="form-control " uib-datepicker-popup="dd/MM/yyyy" ng-model="CreateDate" is-open="popup1.opened" datepicker-options="" close-text="Close" />
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-md" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                               </span>
                            </p>
                        </div>
                        <div class="form-group">
                            <label>Tóm lược</label>
                            <div text-angular ng-model="book.shortDescription"></div>
                        </div>
                        <div class="form-group">
                            <label>Nội dung chính</label>
                            <div text-angular ng-model="book.fullDescription"></div>
                        </div>
                        <div class="form-group">
                            <label>Mã Sku</label>
                            <input type="text" class="form-control" name="sku" ng-required="true" ng-model="book.sku" placeholder="Sku">
                            <p ng-show="editingForm.sku.$error.required" class="text-danger"> Vui lòng nhập mã sản phẩm</p>
                        </div>
                        <div class="form-group">
                            <label>Giá trước đây</label>
                            <input type="number" class="form-control" name="preprice" ng-model="book.previousPrice">
                            <p ng-show="editingForm.preprice.$error.number" class="text-danger"> Vui lòng nhập số</p>
                        </div>
                        <div class="form-group">
                            <label>Giá hiện tại</label>
                            <input type="number" class="form-control" name="sellprice" ng-required="true" ng-model="book.sellingPrice">
                            <p ng-show="editingForm.sellprice.$error.number" class="text-danger"> Vui lòng nhập số</p>
                            <p ng-show="editingForm.sellprice.$error.required" class="text-danger"> Vui lòng nhập giá bán</p>
                        </div>
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Chỉnh sửa</button>
                        <a href="#admin" class="btn btn-default">Trở về</a>
                    </form>
                </div>
        </div>
    </div>
</div>