<div class="container" ng-init="getBooks()">
    <div class="row">
        <!--Product-->
        <div class="col-sm-10 col-centered">
            <a class="btn btn-success btn-new" href="#admin_add"><span class="glyphicon glyphicon-plus"></span> Thêm sách mới</a>
            <h4 class="block-title"><span class="glyphicon glyphicon-tasks"></span> KHO SÁCH</h4>
            <div class="row products">
                <div ng-repeat="book in books" class="col-sm-12">
                    <div class="container-fluid">
                        <div class="row admin-list">
                            <div class="col-sm-3">
                                <a href="#/books/detail/{{book._id}}" title="{{book.shortDescription}}"><img ng-src="{{book.images.main}}" class="img-responsive book-thumbnail"></a>
                            </div>
                            <div class="col-sm-9">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div><a href="#/books/detail/{{book._id}}"><strong>{{book.title}}</strong></a></div>
                                        <div class="short-description" ng-model="book.shortDescription" ta-bind="text"></div>
                                    </div>
                                </div>
                                <div class="panel-footer">

                                    <button class="btn btn-danger btn-admin-remove" data-toggle="modal" data-target="#myModal1" title="Xóa">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                                    <a class="btn btn-primary btn-admin-edit" href="#books/admin_edit/{{book._id}}"><span class="glyphicon glyphicon-pencil"></span> Chỉnh sửa</a>
                                    <div class="modal fade" id="myModal1" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="model-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove dismiss"></span></button>
                                                    <h4 class="block-title">Xác nhận xóa</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Bạn có chắc muốn xóa ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger btn-admin-remove" ng-click="removeBook(book._id)">Xóa</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Product-->