<div class="container" ng-controller="bookCtrl">
    <div class="row">
        <!--SideBar-->
        <div class="col-sm-3 sidebar" ng-init="getGenres()">
            <h4 class="block-title">DANH MỤC</h4>
            <div class="list-group wizard-menu">
                <a href="#" class="list-group-item" ng-repeat="genre in genres">{{genre.name}}</a>
            </div>
        </div>
        <!--End SideBar-->
        <!--Product-->
        <div class="col-sm-9" ng-init="getBooksByAuthor()">
            <h4 class="block-title">Danh sách tác phẩm của "{{text}}"</h4>
            <div class="row products">
                <div ng-repeat="book in books" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <a href="#/books/detail/{{book._id}}" title="{{book.shortDescription}}"><img ng-src="{{book.images.main}}" class="img-responsive book-thumbnail"></a>
                            <br>
                            <div class="book-name"><a href="#/books/detail/{{book._id}}"><strong>{{book.title}}</strong></a></div>
                            <p class="pre-price"><strong>{{book.previousPrice|number}} đ</strong></p>
                            <p class="price"><strong>{{book.sellingPrice|number}} đ</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span><span> Mua</span></button>
                            <button class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Product-->
        <div class="container">
            <hr>
        </div>
        <div class="container">
            <h4 class="block-title">GỢI Ý CHO BẠN</h4>
            <div class="row recommend">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51KtxvROG5L._AC_US160_.jpg" class="img-responsive" alt="City of Wolves">
                            <br>
                            <div class="book-name"><strong>City of Wolves</strong></div>
                            <p class="price"><strong>10.000 VND</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span> Mua</button>
                            <button title="Thích" type="submit" class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/61gFHXKbRlL._AC_US160_.jpg" class="img-responsive" alt="Fates and Furies">
                            <br>
                            <div class="book-name"><strong>Fates and Furies Lauren Groff</strong></div>
                            <p class="price"><strong>10.000 VND</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span> Mua</button>
                            <button title="Thích" type="submit" class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51l9jVAk1uL._AC_US160_.jpg" class="img-responsive" alt="The Collapsing Empire">
                            <br>
                            <div class="book-name"><strong>The Collapsing Empire</strong></div>
                            <p class="price"><strong>10.000 VND</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span> Mua</button>
                            <button title="Thích" type="submit" class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51jqc8H9hWL._AC_US160_.jpg" class="img-responsive" alt="The secret Girlfriend">
                            <br>
                            <div class="book-name"><strong>The Secret Girlfriend</strong></div>
                            <p class="price"><strong>10.000 VND</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span> Mua</button>
                            <button title="Thích" type="submit" class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51Y-fUPNSAL._AC_US160_.jpg" class="img-responsive" alt="Power Ranger">
                            <br>
                            <div class="book-name"><strong>Saban's Power Ranger: Aftershock</strong></div>
                            <p class="price"><strong>10.000 VND</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span> Mua</button>
                            <button title="Thích" type="submit" class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <img src="https://images-na.ssl-images-amazon.com/images/I/51jW4VbcLjL._AC_US160_.jpg" class="img-responsive" alt="Star Wars: Darth Vader Vol.1">
                            <br>
                            <div class="book-name" title="Star Wars: Darth Vader Vol.1: Vader (Darth Vader (2015-2016))"><strong>Star Wars: Darth Vader Vol.1: Vader (Darth Vader (2015-2016))</strong></div>
                            <p class="price"><strong>10.000 VND</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span> Mua</button>
                            <button title="Thích" type="submit" class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->