<div class="container">
    <div class="row">
        <!--SideBar-->
        <div class="col-sm-3 sidebar">
            <h4 class="block-title">DANH MỤC</h4>
            <div class="list-group wizard-menu">
                <a href="#/books/category/{{genre._id}}" class="list-group-item" ng-repeat="genre in genres">{{genre.name}}</a>
            </div>
        </div>
        <!--End SideBar-->
        <!--Product-->
        <div class="col-sm-9" ng-init="getBooksByAuthor()">
            <h4 class="block-title">Danh sách tác phẩm của "{{text}}"</h4>
            <div class="row products">
                <div ng-repeat="book in books" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <a href="#/books/detail/{{book._id}}" title="{{book.shortDescription}}"><img ng-src="{{book.images.main}}" class="img-responsive book-thumbnail"></a>
                            <br>
                            <div class="book-name"><a href="#/books/detail/{{book._id}}"><strong>{{book.title}}</strong></a></div>
                            <p class="pre-price"><strong>{{book.previousPrice|number}} đ</strong></p>
                            <p class="price"><strong>{{book.sellingPrice|number}} đ</strong></p>
                            <div class="rating">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-buy"><span class="glyphicon glyphicon-shopping-cart"></span><span> Mua</span></button>
                            <button class="btn btn-danger btn-fa"><span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Product-->