<!--Contact Page-->
<div class="container contact">
    <div class="row">
        <div class="col-sm-6 col-centered">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="block-title block-contact">Liên Hệ</h3>
                </div>
                <form action="" method="POST" name="contactForm" novalidate>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user blue"></i></span>
                                <input type="text" name="name" ng-model="contactUser.name" placeholder="Họ tên" class="form-control" autofocus="autofocus" required>
                                <span ng-show="contactForm.name.$error.required" class="text-danger"> Chưa điền Họ Tên</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user blue"></i></span>
                                <input type="email" name="email" ng-model="contactUser.userEmail" placeholder="Email" class="form-control" required>
                                <span ng-show="contactForm.email.$error.required" class="text-danger"> Chưa điền Email</span>
                                <span ng-show="contactForm.email.$error.email" class="text-danger"> Địa chỉ email không đúng</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone blue"></i></span>
                                <input type="number" name="phone" ng-model="contactUser.phone" placeholder="Số điện thoại" class="form-control">
                                <span ng-show="contactForm.phone.$error.number" class="text-danger"> Vui lòng nhập số</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-comment blue"></i></span>
                                <textarea type="text" name="mess" rows="6" placeholder="Lời nhắn" class="form-control" onfocus="placeholder=''" onblur="placeholder='Lời nhắn'" required></textarea>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid"><span class="glyphicon glyphicon-send"></span> Gửi</button>
                            <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span> Làm mới</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Contact Page-->