<!--Detail Page-->
<div class="container" ng-init="getBook()">
    <div class="row">
        <div class="col-sm-3 sidebar" ng-init="getGenres()">
            <h4 class="block-title"><span class="glyphicon glyphicon-th-list"></span> DANH MỤC</h4>
            <div class="list-group wizard-menu">
                <a href="#/books/category/{{genre._id}}" class="list-group-item" ng-repeat="genre in genres">{{genre.name}}</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row main-detail">
                <div class="col-sm-4">
                    <div class="detail-img">
                        <img ng-src="{{book.images.main}}" class="img-responsive book-img">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2><strong>{{book.title}}</strong></h2>
                    <span uib-rating ng-model="rateAvr" max="max" read-only="true" on-hover="hoveringOver(value)"></span> ({{book.comments.length}} đánh giá)
                    <h5>Tác giả: <a href="#/books/author/{{book.author}}">{{book.author}}</a></h5>
                    <hr>
                    <h5>Thể loại: <a href="#/books/genre/{{book.genre._id}}">{{book.genre.name}}</a></h5>
                    <h5>Nhà xuất bản: <a href="">{{book.publisher}}</a></h5>
                    <h5>Ngày xuất bản: {{book.releaseDate|date:"dd/MM/yyyy"}} </h5>
                    <h5>Số trang: {{book.pages}} trang</h5>
                    <h5>Trọng lượng: {{book.weight}} g</h5>
                    <hr>
                    <p class="pre-price"><strong>{{book.previousPrice|number}} đ</strong></p>
                    <p class="price"><strong>{{book.sellingPrice|number}} đ</strong></p>
                    <span class="text-danger"><b>Tiết kiệm: {{save}}%</b></span>
                    <hr>
                    <p>
                        <strong>Số lượng:   </strong><input type="number" class="quantity" min="1" ng-model="qty" />
                    </p>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <button class="btn btn-primary btn-add"><span class="glyphicon glyphicon-shopping-cart"></span> Mua hàng</button>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <button class="btn btn-danger btn-faa"><span class="glyphicon glyphicon-heart"></span> Yêu thích</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                    <strong>Nội dung chính: </strong>
                    <div class="full-description" ng-model="book.fullDescription" ta-bind="text"></div>
                    <hr>
                    <h3><strong>Phản hồi</strong></h3>
                    <form name="cmtForm" ng-submit="addComment(book)">
                        <h5>Đánh giá
                            <span uib-rating name="rate" ng-model="comment.rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"></span>
                        </h5>
                        <h5 class="text-danger">{{miss}}</h5>
                        <textarea name="cmt" rows="5" ng-model="comment.commentBody " placeholder="Ý kiến của bạn " onfocus="placeholder=''" onblur="placeholder='Ý kiến của bạn'"></textarea>
                        <button class="btn btn-primary btn-cmt" type="submit" data-toggle="modal" data-target="#myModal">Đăng</button>
                    </form>
                    <div class="modal fade" id="myModal" role="dialog" ng-hide="isLogged()">
                        <div class="modal-dialog">
                            <div class="modal-content login-modal">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                                    <h3 class="block-title block-login">Đăng Nhập</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="login-input">
                                        hoặc <a href="#signup" onclick="$('.modal').modal('hide')">Đăng ký</a>
                                        <form role="form" ng-submit="summitLogin()" method="post">
                                            <div class="form-group">
                                                <h5 class="text-danger"><b>{{error}}</b></h5>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputUsernameEmail">Tên đăng nhập, hoặc email</label>
                                                <input type="text" class="form-control" ng-model="loginUser.email">
                                            </div>
                                            <div class="form-group">
                                                <a class="pull-right" href="#">Quên mật khẩu?</a>
                                                <label for="inputPassword">Mật khẩu</label>
                                                <input type="password" class="form-control" ng-model="loginUser.password">
                                            </div>
                                            <div class="checkbox pull-right">
                                                <label>
                                                            <input type="checkbox"/>
                                                             Lưu tài khoản
                                                        </label>
                                            </div>
                                            <br>
                                            <br>
                                            <button type="submit" class="btn btn btn-primary btn-log" onclick="$('.modal').modal('hide')">Đăng Nhập</button>
                                            <button class="btn btn-default btn-profile-cancel pull-right" data-dismiss="modal">Hủy</button>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid "></div>
                    <div class="row cmt-box " ng-repeat="comment in book.comments|orderBy: 'createdDate':true ">
                        <div class="col-sm-2 text-center ">
                            <h5 class="cmt-name "><b>{{comment._user.name}}</b></h5>
                            <img class="img-responsive cmt-img " ng-src="{{comment._user.avatarUrl}} " alt="... ">
                        </div>
                        <div class="col-sm-10 text-left ">
                            <span uib-rating ng-model="comment.rate " max="max " read-only="true "></span>
                            <span> -- {{comment.createdDate|date:'dd/MM/yyyy h:mma'}}</span>
                            <div ng-model="comment.commentBody " ta-bind="text "></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Detail Page-->