<!--Detail Page-->
<div class="container" ng-init="getBook()">
    <div class="row">
        <div class="col-sm-3 sidebar" ng-init="getGenres()">
            <h4 class="block-title"><span class="glyphicon glyphicon-th-list"></span> DANH MỤC</h4>
            <div class="list-group wizard-menu">
                <a href="#" class="list-group-item" ng-repeat="genre in genres">{{genre.name}}</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row main-detail">
                <div class="col-sm-4">
                    <div class="detail-img">
                        <img ng-src="{{book.images.main}}" class="img-responsive book-img">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2><strong>{{book.title}}</strong></h2>
                    <h5>Tác giả: <a href="#/books/author/{{book.author}}">{{book.author}}</a></h5>
                    <hr>
                    <h5>Thể loại: <a href="#/books/genre/{{book.genre._id}}">{{book.genre.name}}</a></h5>
                    <h5>Nhà xuất bản: <a href="">{{book.publisher}}</a></h5>
                    <h5>Ngày xuất bản: {{book.releaseDate|date:"dd/MM/yyyy"}} </h5>
                    <h5>Số trang: {{book.pages}} trang</h5>
                    <h5>Trọng lượng: {{book.weight}} g</h5>
                    <hr>
                    <p class="pre-price"><strong>{{book.previousPrice|number}} đ</strong></p>
                    <p class="price"><strong>{{book.sellingPrice|number}} đ</strong></p>
                    <hr>
                    <p>
                        <strong>Số lượng:   </strong><input type="number" class="quantity" value="1" />
                    </p>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <button class="btn btn-primary btn-add"><span class="glyphicon glyphicon-shopping-cart"></span> Mua hàng</button>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <button class="btn btn-danger btn-faa"><span class="glyphicon glyphicon-heart"></span> Yêu thích</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <hr>
                    <strong>Nội dung chính: </strong>
                    <div class="full-description" ng-model="book.fullDescription" ta-bind="text"></div>
                    <hr>
                    <h3><strong>Phản hồi</strong></h3>
                    <h5>Đánh giá
                        <span uib-rating ng-model="comment.rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)"></span>
                    </h5>
                    <hr>
                    <div text-angular ng-model="comment.commentBody" placeholder="Ý kiến của bạn"></div>
                    <button class="btn btn-primary btn-cmt" type="submit" ng-click="comment.commentBody.length>0&&comment.rate>0?addComment(book):''">Đăng</button>
                    <div class="container-fluid"></div>
                    <div class="row cmt-box" ng-repeat="comment in book.comments">
                        <div class="col-sm-2 text-center">
                            <h5 class="cmt-name"><b>{{comment.userName}}</b></h5>
                            <img class="img-responsive cmt-img" ng-src="{{comment.userAvatarUrl}}" alt="...">
                        </div>
                        <div class="col-sm-10 text-left">
                            <span uib-rating ng-model="comment.rate" max="max" read-only="true"></span>
                            <span> -- {{comment.date|date:'dd/MM/yyyy h:mma'}}</span>
                            <p>{{comment.commentBody}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Detail Page-->